.hidden {
    display: none;
}

.selectboxit-container .selectboxit-options {

    /* Set's the drop down options width to the same width as the drop down button */
    width: 9rem;

    /* Set's the max-height property to only show a subset of the drop down items.
    If you do not set a max-height property, SelectBoxIt will dynamically
    position the dropdown (when opened) to make sure the drop down items are not
    displayed outside of the current window viewport.
    */
    /*    max-height: 100px;*/

}

.selectboxit-selected::before {
    content: \f3fd;
}

.cc-or-bcc {
    font-size: 9px;
}

.form-horizontal .control-group:before,.form-horizontal .control-group:after{
    display:table;
    content:"";
    line-height:0
}

.form-horizontal .control-group:after{
    clear:both
}

.form-complex .control-group {
    width: 440px;
}
.form-horizontal .control-group {
    margin-bottom: 10px;
}
.form-horizontal .control-group {
    margin-bottom: 16px;
}
.control-group {
    margin-bottom: 8px;
}

.alerts:not(.alerts-view) {
    /*
    max-height: 500px;
    overflow-y: auto;
    */
}

.modal-body {
    padding: 20px;
    overflow: visible;
    /*    max-height: 360px;*/
}
.modal-body {
    position: relative;
    /*
    overflow-y: auto;
    max-height: 400px;
    */
    padding: 15px;
}

.form-horizontal .control-label {
    float: left;
    /*    width: 160px;*/
    padding-top: 5px;
    text-align: right;
}
label {
    cursor: default;
}
label {
    display: block;
    margin-bottom: 5px;
}
label, input, button, select, textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: 25px;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

.form-complex .controls {
    position: relative;
}
.form-horizontal .controls {
    margin-left: 180px;
}

.control {
    position: relative;
}

.controls-block input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    min-height: 26px;
    /*    display: block;*/
}
.control.shared-controls-textcontrol input {
    padding-right: 25px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 25px;
    padding: 4px 6px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 25px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
}
input, textarea, .uneditable-input {
    margin-left: 0px;
}
input, textarea, .uneditable-input {
    width: 206px;
}
input, button, select, textarea {
    font-family: "Roboto","Droid","Helvetica Neue",Helvetica,Arial,sans-serif;
}
label, input, button, select, textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: 25px;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    margin: 0px;
    font-size: 100%;
    vertical-align: middle;
}

.controls-block textarea {
    width: 100%;
    max-width: 100%;
    min-height: 2em;
    resize: vertical;
    box-sizing: border-box;
}
.form-horizontal textarea {
    max-height: 250px;
    min-height: 80px;
    /*    max-width: 206px;*/
}

textarea {
    min-height: 2em;
    resize: vertical;
}
input, textarea, .uneditable-input {
    margin-left: 0px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
textarea {
    height: auto;
}
input, textarea, .uneditable-input {
    width: 206px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 25px;
    padding: 4px 6px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 25px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
}

label, input, button, select, textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
button, input, select, textarea {
    margin: 0px;
    font-size: 100%;
    vertical-align: middle;
}

.form-horizontal .controls>.help-block {
    margin-top: 4px;
}
.form-horizontal input+.help-block, .form-horizontal select+.help-block, .form-horizontal textarea+.help-block, .form-horizontal .uneditable-input+.help-block, .form-horizontal .input-prepend+.help-block, .form-horizontal .input-append+.help-block {
    margin-top: 8px;
}

.form-complex .help-outer {
    position: absolute;
    top: 4px;
    left: 100%;
    margin-left: 10px;
    margin-top: 0 !important;
    width: 280px;
}
.form-horizontal .help-block {
    margin-bottom: 0;
}

alert-step-1 .help-block-timestamp {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    margin: auto !important;
}

.help-block-timestamp {
    min-height: 1em;
    line-height: 1em;
    padding: 3px;
    margin-top: -5px;
    margin-right: 15px;
    border-radius: 3px;
    background-color: #eee;
}
.help-block {
    color: #999;
    font-size: 85%;
}
.help-block {
    display: block;
    margin-bottom: 8px;
}
.help-block, .help-inline {
    color: #595959;
}

.help-block-timestamp {
    line-height: 1em;
}
.help-block {
    color: #999;
    font-size: 85%;
}
.help-block, .help-inline {
    color: #595959;
}

.form-complex .outline {
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: -5px;
    padding-top: 5px;
}
.form-complex fieldset {
    border: 1px solid transparent;
}
fieldset {
    padding: 0px;
    margin: 0px;
    border: 0px none;
}

.form-horizontal .controls>.help-block {
    margin-top: 4px;
}
.form-complex .help-block {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;
    margin-top: 0 !important;
    width: 280px;
}
.form-horizontal .help-block {
    margin-bottom: 0;
}
.help-block {
    color: #999;
    font-size: 85%;
}
.help-block {
    display: block;
    margin-bottom: 8px;
}
.help-block, .help-inline {
    color: #595959;
}

.controls-split .shared-controls-textcontrol {
    display: inline;
}

.modal-body {
    margin-top: 185px;
    margin-left: 3rem;
}

#metrics-alert {
    margin-top: 20px;
}

.metric-settings {
    margin-top: 40px;
}

.boxed-input-label {
    margin-left: 25px;
}

.required {
    color: #BF2424
}

.title-margin {
    margin-left: 5rem;
}

#metric-properties, #metric-environment {
    min-height: 105px;
    border-right: 1px solid #CCC;
}

/*
.metric-settings {
    padding: 10px 5px;
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 4px;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.25);
}
*/

.chosen-container {
    width: 90% !important;
}
